* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  width: 100%;
  padding: 20px 0;
  align-items: center;
}



.formBox {
  display: flex;
  width: 100%;
}

.formItem {
  width: 20%;
  margin-left: 40px;
}

.main {
  width: 100%;
  background-color:rgb(200, 159, 97);
  padding: 20px;
}

